# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml


# =========================
# Node / Angular
# =========================
node_modules/
.angular/
dist/


# =========================
# Java / Maven
# =========================
target/


# =========================
# Environment variables
# =========================
.env
.env.local


# =========================
# Logs
# =========================
*.log


# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db
